<ion-content class="login-container">
  <div class="bg-image">
    <div style="display: flex;justify-content: center;
    margin: 20px auto 0 auto;">
    <img style="width: 35px;" src="../../../assets/img/logo.jpeg">
    <div class="title" style="text-transform: uppercase;font-size: 18px;
    margin-top: 6px;
    margin-left: 10px;
    color: #2d6ea8;font-weight: 600;">Roozer Technologies</div>
  </div>
    <img style="height: 30vh;
    width: 100%;" src="../../../assets/img/reg_login_background.jpeg">
    </div>
   
    <div class="login-input">
      <div class="app-name">
        <h1>Login</h1>
      </div>

        <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)">
          <ion-grid>
            <ion-row justify-content-center>
              <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                <div padding>
                  <ion-list>
                    <ion-item lines="none">
                      <ion-input name="email" type="email" #email="ngModel" placeholder="E-Mail" ngModel required></ion-input>
                    </ion-item>
                    <span class="text-danger"
                    *ngIf="(email.touched || contactForm.submitted) && email.errors?.required">
                    E-Mail is required *
                </span>
              <ion-item lines="none">
                <ion-input name="password" type="text" #password="ngModel" placeholder="Password" ngModel required></ion-input>
              </ion-item>
              <span class="text-danger"
              *ngIf="(password.touched || contactForm.submitted) && password.errors?.required">
              Password is required *
          </span>
            </ion-list>
              
                </div>
                <div class="forget">Forget Password</div>
                <div padding style="margin-top:3vh;">
                  <ion-button class="login_button" size="large" type="submit" expand="block" [disabled]="contactForm.invalid">Login</ion-button>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
        <div class="create-new-account">
          <p class="create-account-p" (click)="openSignUp()">Don't have an account<a>Sign-Up</a></p>
        </div>
      </div>
     
  </ion-content>