.vision{
    text-align: center;
    margin-top: 40px;
    .vision-heading{
        color: #2d6ea8;
    text-align: center;
    font-size: 21px;
    font-weight: 600;
    padding-bottom: 15px;
    }
    .vision_text{
    font-size: 13px;
    line-height: 1.2;
    }
}