<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admin-dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title style="text-align: center;">
      Holiday
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div style="text-align: center;">
    <div style="display: block;justify-content: center;
    margin: 20px auto 0 auto;">
      <img style="width: 55px;" src="../../../assets/img/logo.jpeg">
      <div class="title" style="text-transform: uppercase;font-size: 18px;
    margin-top: 6px;
    margin-left: 10px;
    color: #2d6ea8;font-weight: 600;">Roozer Technologies</div>
    </div>
  </div>
  <div class="month-year-div">
    <div class="month-year-text">
      Region
    </div>
    <div class="select" (click)="selectPrice()">
      <i class="fa fa-location" style="margin-right: 5px;"></i>{{price}}<i class="fa fa-chevron-down" aria-hidden="true"></i>
    </div>
  </div>
  <ion-card>
    <ion-row class="table-card">
      <ion-col size="4"><div>Name</div></ion-col>
      <ion-col size="4">Date</ion-col>
      <ion-col size="4">Day</ion-col>
    </ion-row>
    <ion-row *ngFor="let cal of holiday">
      <ion-col size="4"><div class="name">{{cal.name}}</div></ion-col>
      <ion-col size="4"><div class="name">{{cal.date}}</div></ion-col>
      <ion-col size="4"><div class="name">{{cal.day}}</div></ion-col>
    </ion-row>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar class="toolbar">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button class="home" (click)="adminDashboard()">
          <!-- <fa-icon icon="home" style="width: 20px;height: 20px;"></fa-icon> -->
          <ion-icon name="home-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button class="profile" (click)='adminProfile()'>
          <ion-icon name="person-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button (click)="empList()" class="emplist">
          <ion-icon name="people-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button class="notifications" (click)="notifications()">
          <ion-icon name="notifications-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button class="adminMenu" (click)="user.menuAdminOpen()">
          <ion-icon name="menu-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-toolbar>
</ion-footer>