ion-content{
    background: white;
  --background: white;
  ion-list{
        background: white;
      --background: white;
        color: #0e223e;
  }
  ion-item{
        background: white;
      --background: white;
        color: #0e223e;
  }
}