.customer-card{
    // color: #2d6ea8;
    background: #dadada;
    padding: 10px 0;
    box-shadow: none;
    border-radius: 10px;
    padding-left: 7px;
    margin-top: 50px;
    .main_div{
        color: #2d6ea8;
    opacity: 999;
    font-size: 17px;
    font-weight: 500;
    }
    .second_div{
        color: black;
        font-size: 13px;
        margin-top: -7px;
    }
}