.customer-card{
    color: #2d6ea8;
    background: #dadada;
    padding: 10px 0;
    box-shadow: none;
    border-radius: 10px;
    padding-left: 7px;
    margin-top: 5px;
    .testimonial_name{
        text-align: center;
        font-size: 21px;
        font-weight: 500;
    }
    .testimonial_data{
    color: black;
    font-size: 14px;
    line-height: 1.3;
    padding: 2px 5px 10px 5px;
    }
}